h3 Post Detail

p
   a(href="#/")= __i('back')

form.form-horizontal(novalidate, name="postEditForm", data-ng-submit="save()")

   div.control-group
      label.control-label(for="post-title") Title
      div.controls
         input#title.input-xxlarge(name="post-title", type="text", placeholder="Title", data-ng-model="post.title")
         //- span.validation-error(data-ng-show="!myForm.post-title.$valid")= __i('item-required')

   div.control-group
      label.control-label(for="post-body") Body
      div.controls
         textarea#post-body.input-xxlarge(name="post-body", rows="5", ui-codemirror="{mode: 'markdown', lineNumbers: true, matchBrackets: true, tabMode: 'indent', theme: 'lesser-dark'}", ng-model="post.body")
         //- span.validation-error(data-ng-show="!myForm.post-body.$valid")= __i('item-required')

   div.control-group
      label.control-label(for="post-slug") Slug
      div.controls
         input.input-xxlarge(name="post-slug", type="text", placeholder="Slug", data-ng-model="post.slug")

   div.control-group
      label.control-label(for="post-tags") Tags
      div.controls
         input.input-xxlarge(name="post-tags", type="text", placeholder="Tags", data-ng-model="post.tags")

   div.control-group
      label.control-label(for="post-allowcomments") Allow comments
      div.controls
         label.checkbox
            input(name="post-allowcomments", type="checkbox", data-ng-model="post.allowComments")

   div.form-actions
      button.btn.btn-primary(type="submit", data-ng-disabled="isSaveDisabled()" )= __i('save')
      &nbsp;
      button.btn.btn-warning(type="button", data-ng-click="publish()", data-ng-disabled="isSaveDisabled()" )= __i('publish')
      &nbsp;
      button.btn(type="button", data-ng-click="cancel()", data-ng-disabled="isCancelDisabled()" )= __i('cancel')



