{{#if session.connected}}
                    {{! notifications unread message }}
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="notifications"></a>
                        <ul class="dropdown-menu">
                            {{! The notification messages }}
                            <li id="noty_text"></li>
                            <li><a href="/messages">Messaggi</a></li>
                        </ul>
                    </li>
{{/if}}

{{#if session.connected}}
{{! notifications }}

<script type="text/javascript">
// Do at page load
      $(document).ready(function() {
          $.ajax({
              type: "GET",
              url: "/messages/number",
              dataType: "html",
              success: function(msg)
              {
                      $("#notifications").html("<i class='icon-envelope'></i> " + msg);
              },
              error: function()
              {
                      $("#notifications").html("Noty load..");
              }
          });
      });
            // Repeat requuest
setInterval(function() {
      // Do something every 5 seconds
      //$(document).ready(function() {
          $.ajax({
              type: "GET",
              url: "/messages/number",
              dataType: "html",
              success: function(msg)
              {
                      $("#notifications").html("<i class='icon-envelope'></i> " + msg);
              },
              error: function()
              {
                      $("#notifications").html("<i class='icon-envelope'></i> load..");
              }
          });

    //  });
}, 10000);
var el = document.getElementById('notifications');
el.onclick = getNoty;
function getNoty(){
          $.ajax({
              type: "GET",
              url: "/messages/text",
              dataType: "html",
              success: function(msg)
              {
                      $("#noty_text").html(msg);
              },
              error: function()
              {
                      $("#noty_text").html("<i class='icon-envelope'></i> load..");
              }
          });
          $.ajax({
              type: "GET",
              url: "/messages/clear",
              dataType: "html",
              success: null,
              error: function()
              {
                      $("#notifications").html("load..");
              }
          });
}

</script>

{{/if}}
