/* Web Fonts Loader
-------------------------------------------------- */

.wf-loading p { /* Show paragraphs in serif font until fonts have loaded. */
   font-family: Verdana, sans-serif
}
.wf-inactive p { /* Show paragraphs in serif font if fonts have failed to load. */
   font-family: Verdana, sans-serif
}
.wf-active p { /* Show paragraphs in Tangerine when the fonts have loaded. */
   font-family: 'Open Sans', Verdana, sans-serif;
}

.wf-loading h1 { /* Show heading in serif font until fonts have loaded.*/
   font-family: Arial, sans-serif;
}

.wf-inactive h1 { /* Show heading in serif font if fonts have failed to load.*/
   font-family: Arial, sans-serif;
}

.wf-active h1 { /* Show heading in Cantarell when the fonts have loaded.*/
   font-family: 'Droid Sans', Arial, sans-serif;
}


/* Loader
-------------------------------------------------- */
.ui-loading .ui-mobile-viewport { overflow: hidden !important; }
.ui-loading .ui-loader { display: block; }
.ui-loading .ui-page { overflow: hidden; }

.ui-loader {
   display: none;
   z-index:10100;
   font-family: 'Open Sans', Helvetica, Arial, sans-serif;
   font-weight: normal;
   text-shadow: none;
   background-color: #5092BD;
   border: 1px solid #0044CC;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;

   -webkit-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1);
   -moz-box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1);
   box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.ui-page-loader {
   padding: 10px 20px;
   width: 260px;
   z-index: 10100;
}

.ui-loader h1 {
   font-size: 15px;
   text-align:center;
   color: #FFF;
   text-shadow: 1px 1px #888;
}

.ui-loader .ui-metro-loading {
   display: block;
   margin: 0 auto;
   position: static;
   width: 220px;
   height: 20px;
   background-image: url(/images/animated-loader.gif);
}


.ui-mini-loader {
   background: url(/images/ajax-loader.gif) no-repeat;
   padding-left: 20px;
}


/* Body and structure
-------------------------------------------------- */

body {
   position: relative;
   padding-top: 41px;
   min-height: 480px;
}

/* Sidebar fixed
-------------------------------------------------- */

.sidebar-nav {
   padding: 9px 0;
}

.sidebar-nav-fixed {
   position:fixed;
   top:60px;
   width:21.97%;
}

@media (max-width: 767px) {
   .sidebar-nav-fixed {
      width:auto;
   }
}

@media (max-width: 979px) {
   .sidebar-nav-fixed {
      position:static;
      width: auto;
   }
}



/* Main Content
-------------------------------------------------- */
#content {
   margin-top: 18px;
   min-height: 500px;
}



/* Custom styles
-------------------------------------------------- */

.align-right {text-align: right}
.align-left {text-align: left}
.align-center {text-align: center}

td.align-right {text-align: right}
td.align-left {text-align: left}
td.align-center {text-align: center}


/* Validation
-------------------------------------------------- */

input.ng-invalid,
textarea.ng-invalid,
select.ng-invalid {
   background: #FFEBA7 url(/images/error_underline.gif) repeat-x left bottom;
}

.validation-error {
   display: block;
   padding: 2px 4px 2px 15px;
   color: #FFFFFF;
   background-color: #C43C35;
   border-radius: 0 0 4px 4px;
   position: relative;
   z-index: 1000;
   float: left;
   min-width: 160px;
}
   .validation-error:after {
      position: absolute;
      width: 0;
      height: 0;
      top: 3px;
      left: 0;
      content: '';
      border-right: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-top: 10px solid transparent;
      border-left: 10px solid #FFF;
   }
