extends ../layouts/layout

block body

   div.jumbotron.masthead
      div#login-container.container
         h2 Login

         p
            a.btn.btn-primary.btn-large(href='/auth/facebook')
               i.icon-facebook
               |  Login with Facebook

         p
            a.btn.btn-primary.btn-large(href='/auth/google')
               i.icon-google-plus
               |  Login with Google


         p
            a.btn.btn-primary.btn-large(href='/auth/twitter')
               i.icon-twitter
               |  Login with Twitter




