extends ../layouts/layout

block body

   div.jumbotron.masthead
      div.container
         h2 Register to ArashiN

         p
            a.btn.btn-primary.btn-large.facebook-login(href='/auth/facebook')
               i.icon-facebook-sign
               |  Register with Facebook




