extends ../layouts/layout

block body

   div.jumbotron.masthead
      div.container
         h1 ArashiN
         p Sleek, intuitive, and powerful front-end framework for faster and easier web development.
         p
            a.btn.btn-primary.btn-large(href='#') Download
         ul.masthead-links
            li
               a(href='#') Extend
            li
               a(href='#') GitHub project
            li Version 0.0.1

   div.container
     div.content
       div.page-header
         h1 Main Page
           small  Welcome to #{title}
       div.row
         div.span12

            p Yo!!!




