extends ../layouts/admin-layout

block body

   div#content
      h2= title

      div("data-ng-view")



block head
   link(rel='stylesheet', href='/codemirror/lib/codemirror.css')
   link(rel='stylesheet', href='/codemirror/theme/lesser-dark.css')


block scripts
   script(src='/codemirror/lib/codemirror.js')
   script(src='/codemirror/mode/htmlmixed/htmlmixed.js')

   script(src='/javascripts/arashin/admin.pages.js')
   script(src='/javascripts/arashin/arashin.angular.filters.js')
