div#header
   //- <?php if (has_nav_menu('top-menu', 'responsive')) { ?>
   //-    <?php wp_nav_menu(array(
   //-       'container'       => '',
   //-       'fallback_cb'	  =>  false,
   //-       'menu_class'      => 'top-menu',
   //-       'theme_location'  => 'top-menu')
   //-    );
   //-    ?>
   //- <?php } ?>
   //-
   //- <?php responsive_in_header(); // header hook ?>

   //- <?php if ( get_header_image() != '' ) : ?>
   div#logo
      a(href="#")
         img(src="/themes/responsive/images/default-logo.png", width="300", height="100", alt= wp.bloginfo('name'))

         //- <?php if ( !get_header_image() ) : ?>
         //-
         //-    <div id="logo">
         //-       <span class="site-name"><a href="<?php echo home_url('/'); ?>" title="<?php echo esc_attr(get_bloginfo('name', 'display')); ?>" rel="home"><?php bloginfo('name'); ?></a></span>
         //-       <span class="site-description"><?php bloginfo('description'); ?></span>
         //-    </div><!-- end of #logo -->
         //-
         //- <?php endif; // header image was removed (again) ?>


         //- <?php wp_nav_menu(array(
         //-       'container'       => '',
         //-       'theme_location'  => 'header-menu')
         //-    );
         //- ?>
   ul.menu
      li.current_page_item
         a(title="Home", href="#") Home
      li.page_item.page-item-2
         a(href="/?page_id=2") About
      li.page_item.page-item-46
         a(href="/?page_id=46") Parent Page

      //- <?php if (has_nav_menu('sub-header-menu', 'responsive')) { ?>
      //-    <?php wp_nav_menu(array(
      //-       'container'       => '',
      //-       'menu_class'      => 'sub-header-menu',
      //-       'theme_location'  => 'sub-header-menu')
      //-    );
      //- ?>
      //- <?php } ?>

