extends layout

block body

   div#featured.grid.col-940

      div.grid.col-460

         if wp.get_option('home_headline') !== ''
            h1.featured-title= wp.get_option('home_headline')
         else
            h1.featured-title Hello, World!


         if wp.get_option('home_subheadline') !== ''
            h2.featured-subtitle= wp.get_option('home_subheadline')
         else
            h2.featured-subtitle Your H2 subheadline here


         if wp.get_option('home_content_area') !== ''
            p= wp.get_option('home_content_area')
         else
            p Your title, subtitle and this very content is editable from Theme Option. Call to Action button and its destination link as well. Image on your right can be an image or even YouTube video if you like.


         if wp.get_option('cta_button') === 'true'
            div.call-to-action

               if wp.get_option('cta_url') !== '' && wp.get_option('cta_text') !== ''
                  a.blue.button(href=wp.get_option('cta_url') )= wp.get_option('cta_text')
               else
                  a.blue.button(href="#nogo) Call to Action


      div#featured-image.grid.col-460.fit
         if wp.get_option('featured_content') !== ''
            != wp.get_option('featured_content')
         else
            img.aligncenter(src="/themes/responsive/images/featured-image.png", width="440", height="300", alt="")


   include sidebar-home

