div#widgets.home-widgets
   div.grid.col-300
      //- php if (!dynamic_sidebar('home-widget-1')) : ?>
      div.widget-wrapper
         div.widget-title-hom
            h3 Home Widget 1
         div.textwidget
            |This is your first home widget box. To edit please go to Appearance > Widgets and choose 6th widget from the top in area six called Home Widget 1. Title is also manageable from widgets as well.

   div.grid.col-300
      //- php if (!dynamic_sidebar('home-widget-2')) : ?>
      div.widget-wrapper
         div.widget-title-hom
            h3 Home Widget 2
         div.textwidget
            |This is your second home widget box. To edit please go to Appearance > Widgets and choose 6th widget from the top in area six called Home Widget 2. Title is also manageable from widgets as well.

   div.grid.col-300.fit
      //- php if (!dynamic_sidebar('home-widget-3')) : ?>
      div.widget-wrapper
         div.widget-title-hom
            h3 Home Widget 3
         div.textwidget
            |This is your third home widget box. To edit please go to Appearance > Widgets and choose 6th widget from the top in area six called Home Widget 3. Title is also manageable from widgets as well.


