<div>
   <h2>
      <strong>Hi Administrator,</strong>
      what would you like to do today?
   </h2>
   <br/>
</div>

<div id="dashboard-actions" class="row">
   <div class="col-md-4">
      <div class="tile">
         <i class="icon-edit-sign"></i>
         <h3 class="tile-title">Create Content</h3>
         <p>New content for your web site</p>
         <a href="#" class="btn btn-primary btn-large btn-block">Create</a>
      </div>
   </div>
   <div class="col-md-4">
      <div class="tile">
         <i class="icon-th-list"></i>
         <h3 class="tile-title">Mange Contents</h3>
         <p>Manage the content you had already created</p>
         <a href="#" class="btn btn-primary btn-large btn-block">Manage</a>
      </div>
   </div>
   <div class="col-md-4">
      <div class="tile">
         <i class="icon-group"></i>
         <h3 class="tile-title">Manage Users</h3>
         <p>Manage users that can access your content</p>
         <a href="#" class="btn btn-primary btn-large btn-block">Users</a>
      </div>
   </div>
</div>





{{#extend "scripts"}}
<script>



</script>
{{/extend}}