
<div class="row" style="margin-top:70px;">
   <div class="span4 offset4">
      <div class="well">

         <form id="login-form" accept-charset="utf-8" style="margin:0;" method="POST" action="/admin/login">
            <fieldset>
               <legend>Please sign in</legend>
               <div class="alert alert-block alert-danger fade in">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <p>This email is taken</p>
               </div>

               <input placeholder="E-mail" class="input-block-level" id="email" type="text" name="email" value="{{email}}"/>
               <input placeholder="Password" class="input-block-level" id="password" type="password" name="password"/>
               <a class="pull-right" href="#">Forgot password?</a>
               <label class="checkbox">
                  <input name="remember" type="checkbox" value="Remember Me"> Remember Me
               </label>
               <input class="btn btn-large btn-info btn-block" type="submit" value="{{translate "signin" session.language mapping}}">
               <br>

               <p class="text-center"><a href="#" class="btnflip card">Need to register?</a></p>
            </fieldset>
         </form>

      </div>
   </div>
</div>

